* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    padding: 20px 0;
}
#container{
    background-color: rgb(149, 210, 221);
    text-align: center;
    width: 400px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    
}

#container:hover {
    box-shadow: 8px 8px 8px 9px black;
}

input, button{
    width: 300px;
    height: 30px;
    border-radius: 8px;
}

#res {
    padding: 20px;
    line-height: 25px;
}


